<div class="container">

  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" >
    <div class="panel panel-info" data-ng-repeat="item in lecturesList">
      <div class="panel-heading" role="tab" id="headingOne">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="{{ '#collapse-' + $index }}" aria-expanded="true" aria-controls="collapseOne">
            {{item.course_title}} - "Instructor: "{{item.staff[0].first_name | uppercase }} {{item.staff[0].last_name | uppercase}}
          </a>
        </h4>
      </div>
      <div id="{{ 'collapse-' + $index }}" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
        <div class="panel-body" data-ng-repeat="videoItem in item.videos">
          <h3> {{ videoItem.title }} </h3>
          <video id="{{ 'video' + $index }}" width="100%" controls>
               <source data-ng-src="http://www.w3schools.com/html/mov_bbb.mp4"  type="video/mp4">
               Your browser does not support HTML5 video.
           </video>

           <button id="confusing" ng-attr-data="{{ videoItem.secure_token}}" ng-attr-videoData="{{ 'video' + $index }}" type="button" class="btn btn-default btn-sm" data-ng-click="videoControls('confusing')">
               <span class="glyphicon glyphicon-alert" aria-hidden="true"></span> Confusing
           </button>
           <button id="important" ng-attr-data="{{ videoItem.secure_token}}" ng-attr-videoData="{{ 'video' + $index }}" type="button" class="btn btn-danger btn-sm" data-ng-click="videoControls('important')">
                <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span> Important
           </button>
           <button id="wellSaid" ng-attr-data="{{ videoItem.secure_token}}" ng-attr-videoData="{{ 'video' + $index }}" type="button" class="btn btn-primary btn-sm" data-ng-click="videoControls('wellSaid')">
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span> Well Said
           </button>

        </div>
      </div>
    </div>
  </div>
</div>
      