<div class="container-fluid">
  
  <div class="jumbotron">
    <div class="container">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            Please use your 
          </h3>
        </div>
        <div class="panel-body">
          <div class="">
            <div class="text-center">
              <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
            </div>
            <div class="">
              <form role="form" id="loginForm" name="loginForm" data-ng-submit="submitLoginForm(userObj)">
                <div class="form-group">
                  <label for="userName"><span class="glyphicon glyphicon-user"></span> Username</label>
                  <input type="text" class="form-control" id="userName" required placeholder="Enter usename" name="username" data-ng-model="userObj.username">
                </div>
                <div class="form-group">
                  <label for="userPassword"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
                  <input type="password" class="form-control" id="userPassword" required placeholder="Enter password" name="password" data-ng-model="userObj.password">
                  <div class="alert alert-danger" role="alert" ng-show="showErrorMessage">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span>
                    The email and password you entered don't match.
                  </div>

                  
                </div>
                <button type="submit" id="loginSubmit" name="loginSubmit" class="btn btn-primary btn-block" data-ng-disabled="disableButton">
                  <span class="glyphicon glyphicon-log-in"></span> Login</button>
              </form>
            </div>
            <div class="modal-footer">
              <p>Forgot <a href="#" id="forgotPassword">Password?</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>





<!-- <div class="main container">
  <h1>Things</h1>
  <form ng-submit="save()" name="form" novalidate="" class="thing-form">
    <p class="input-group">
      <input type="text" placeholder="Name" ng-model="newThing.name" class="form-control"/><span class="input-group-btn">
        <input type="submit" value="Add" class="btn btn-primary"/></span>
    </p>
  </form>
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="input-group pull-right col-md-3 col-sm-12">
        <input type="search" ng-model="search" placeholder="Search" class="form-control"/>
        <div dropdown="" on-toggle="toggled(open)" class="dropdown input-group-btn">
          <button dropdown-toggle="" class="btn btn-primary dropdown-toggle">{{ orderProperty==='1' ? 'Ascending' : 'Descending' }}<span class="caret"></span></button>
          <ul role="menu" class="dropdown-menu">
            <li ng-click="orderProperty='1'">Ascending</li>
            <li ng-click="orderProperty='-1'">Descending</li>
          </ul>
        </div>
      </div>
      <ul class="nav nav-tabs nav-stacked col-md-9 col-sm-12">
        <li dir-paginate="thing in things | itemsPerPage: perPage" total-items="thingsCount" current-page='page'>
          <p>{{ thing.name }}
            <button ng-click="remove(thing)" class="btn">&times;</button>
          </p>
        </li>
      </ul>
      <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" class="col-md-12"></dir-pagination-controls>
    </div>
  </div>
  <p>Total number of things: {{thingsCount}}</p>
</div> -->

